.author-email {
    display: inline-block;
}

.post-content {
    margin: 20px;
    padding: 20px;
    border: 2px solid #424242;
    border-radius: 6px;
    background-color: rgba(231, 221, 221, 0.81);
}

.post-reply {
    margin: 20px;
    padding: 20px;
    border: 1px solid #333333;
    border-radius: 7px;
    background-color: rgba(250, 250, 240, 0.82);
}

.post-reply-author {
    float: right;
}
